@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;500;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Geologica", sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  flex-basis: 100%;
  margin: 1rem;
  display: flex;
  border-radius: 25px;
  position: relative;
}

.card h2 {
  margin: 0;
  padding: 1rem;
}

.card .title {
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}

.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}

.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  top: 15px;
  left: 85px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 4.5em;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("./images/download.jpeg");
  background-position: bottom center;
  background-size: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 5px 5px 20px #16243e;
  padding: 5rem;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8f6f4;
}

.profile > button {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 2rem;
}

.profile-image {
  width: 150px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

.profile-image:hover {
  border: none;
  transform: scale(1.1);
}

.student-name {
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}

.student-name:hover {
  transform: scale(1.1);
  letter-spacing: 2px;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.details > div {
  margin-bottom: 1rem;
  transition: 0.4s ease-in-out;
}

.details > div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.details span {
  margin-right: 1rem;
  color: #16243e;
  font-size: 1.5rem;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #16243e;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  color: #4caf50;
  transform: rotate(22deg);
}

input {
  border: none;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem 25%;
}

a {
  color: #16243e;
  text-decoration: none;
}

a:hover {
  color: #4caf50;
}

a:visited {
  color: #4caf50;
}

@media (max-width: 768px) {
  .card {
    flex-basis: calc(50% - 2rem);
  }
}

@media (max-width: 480px) {
  .card {
    flex-basis: 100%;
    max-width: none;
  }
}
